<section class="container text-black">
<h1 class="text-center">Public Recipes</h1>

  <% @index.each do |recipe| %>
  <%= link_to user_recipe_path(recipe.user, recipe), class: "text-decoration-none" do %>
    <div class="card border border-0 mt-4 shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class=" card-body d-flex", id="<%= dom_id recipe %>">
 
        <h2 class="text-black flex-grow-1">
        <%= recipe.name %> <br>
        <span class="fs-6 fw-semibold text-secondary">
            By: 
            <%= recipe.user.name %>
        </span>
        </h2>
        


        <div class="text-black fw-medium fs-6 d-flex flex-column gap-2 flex-grow-1">
          <p>
            Total food items: <span class="fw-bold"><%= recipe.recipe_foods.count %> </span>
          </p>
          <p>
            Total price:            
                <span class="fw-bold"> <%= recipe.total_price %></span>
          </p>
        </div>
    </div>
    </div>
    <% end %>
    
  <% end %>

</section>
