<section class="container">
<div>
  <% if user_signed_in?%>
    <div>
      <%= link_to 'Back', user_recipes_path(current_user) %>      
    </div>
  <% end %>
  <h1 class="text-center"><%= @recipe.name %></h1>
  <% if can? :manage, @recipe or @recipe.public %>
      <div class="row">
        <div class="col-6 fs-4">
          <div><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> hours(s)</div>
          <div><strong> Cooking Time:</strong> <%= @recipe.cooking_time %> hours(s)</div>
          <div><strong> Steps to go here...</strong></div>
        </div>
        <div class="col-6">
          <div class="form-check form-switch d-flex justify-content-end fs-4">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
              <% if @recipe.public %>
                checked='checked'
              <% end %>>
            <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
          </div>
        </div>
      </div>
  
    <% if can? :manage, @recipe %>
      <div class="d-flex justify-content-between my-3">
        <%= link_to "Generate Shopping List", user_recipe_general_shopping_lists_path(@user, @recipe), class: 'btn btn-secondary fs-4' %>
        <%= link_to "Add ingredient", new_user_recipe_recipe_food_path(@user, @recipe), class: 'btn btn-primary fs-4' %>
      </div>
    <% end %>
  <div class="bg-dark", style="height: 4px"> </div>
      <% if @recipe_foods.count > 0 %>
        <table class="table table-striped mt-5 fs-4">
            <thead class="table-secondary">
                <tr>
                    <th>Food</th>
                    <th>Quantity</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @recipe_foods.each do |recipe_food| %>
                    <tr>
                        <td><%= recipe_food.food.name %></td>
                        <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
                        <td>$<%= recipe_food.quantity * recipe_food.food.price%></td>
                        
                        <% if can? :manage, recipe_food.recipe %>
                            <td class = "d-flex gap-2">
                              <%= link_to "Modify", edit_user_recipe_recipe_food_path(@user, @recipe, recipe_food)%>
                              <%= button_to "Remove", user_recipe_recipe_food_path(@user, @recipe, recipe_food),
                                style: "border: none;
                                      background: none;
                                      text-decoration: underline;
                                      color: blue;
                                      text-transform: uppercase;", 
                                method: :delete %>
                            </td>
                        <% end %>

                        <% if cannot? :manage , @recipe %>
                          <td>
                            <span>No actions for you here</span>
                          </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <% else %>
          <p class="text-danger text-center mt-5">There are no foods in this recipe</p>
        <% end %>
    <% else %>
      <p>Sorry, you don't have access to this recipe</p>
    <% end %> 
    <div>

</section>