<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top fs-3">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 fw-bold" href="/">Railcipe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_foods_path(current_user.id), class:"text-decoration-none", method: :get do %>  
          <span class="nav-link active text-decoration-none", aria-current="page"> Foods </span>
          <% end %>
        </li> |
        <li class="nav-item">
          <%= link_to "Recipe", user_recipes_path(current_user.id), method: :get, class:"nav-link" %>
        </li> |
        <li class="nav-item">
          <%= link_to "Public Recipes", public_recipes_path(current_user.id), method: :get, class:"nav-link" %>
        </li>
      <% end %>
      </ul>
      <% if user_signed_in? %>
    <%= button_to(
      "Log Out",
      destroy_user_session_path,
      method: :delete,
      class: "btn btn-primary"
    )%>
  <% else %>
   <%= button_to(
      "Sign In",
      new_user_session_path,
      method: :get,
      class: "btn btn-primary"
    )%>
  <% end %>
    </div>
  </div>
</nav>